{% extends 'CollecMeCollectionBundle::colme_layout.html.twig'%}

{% trans_default_domain "user" %}

{% block content %}
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>{% trans %}user.login{% endtrans %}</th>
      <th>{% trans %}user.password{% endtrans %}</th>
      <th>{% trans %}user.email{% endtrans %}</th>
      <th>{% trans %}user.roles{% endtrans %}</th>
      <th>{% trans %}user.roles.add{% endtrans %}</th>
      <th>{% trans from "action" %}action.delete{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
  <tr>
        <td>{{ user.user.login }}</td>
        <td>{{ user.user.password}}</td>
        <td>{{ user.user.email}}</td>
        <td>
        {% for role in user.roles %}
          <span class="label label-default">{{role}}</span>
        {% endfor %}
        </td>
        <td><a href="/user/roles/{{user.user.id}}" class="btn btn-success btn-xs">{% trans from "action" %}action.add{% endtrans %}</a></td>
        <td><a href="/user/delete/{{user.user.id}}" class="btn btn-danger btn-xs">{% trans from "action" %}action.delete{% endtrans %}</a></td>
      </tr>
    {% endfor %}
</table>
{% endblock %}
